<main class="page_notfound">
    <img width="250px" height="auto"
        src="/images/illustration_notfound.svg" alt="Página não encontrada">

    <h2>Opps!!! Parece que a página que você tentou acessar não foi encontrada</h2>
    <a onclick="function() {history.back()}" href="#">CLIQUE PARA VOLTAR </h6>
</main>