<main>
    <h1 class="app-title">Stocks.ly Chat</h1>

    <div class="image-box">
        <img src="/images/illustration_online.svg"
            width="350px" height="auto" alt="illustration.svg" />
    </div>

    <h3 class="app-subtitle">Converse com várias pessoas sobre suas finanças</h3>

    <div class="box">
        <div class="container nick">
            <input id="input-nickname" class="nome"  name="nome" placeholder="Digite aqui seu nickname" />
        </div>
        <div class="container entrar">
            <a href="#" onclick="fn_entrar()">
                <button  class="btn-cadastro entrar">Entrar</button>
            </a>
        </div>
    </div>
</main>