<main class="page-room">
  <header>
    <a href="/rooms">VOLTAR PARA MENU</a>
    <img src="{{room.imageUrl}}" width="200px" height="auto">
    <h2>{{ room.ticket}}</h2>
  </header>
  <section class="messages">
    <ul id="messages">
      <li class="from">
        <div class="profile-pic"></div>
        <div class="content">
          <b>Lins Soares</b>
          <p>Ativo muito bem recomendado para quem não gosta muito de oscilações na carteira</p>
        </div>
      </li>
    </ul>
    <div class="group-input-message">
      <input id="input" placeholder="Digite aqui sua mensagem sobre o ativo..." autocomplete="off" />
      <button onclick="fn_enviarMensagem()">
        <span class="material-icons">send</span>
      </button>
    </div>
  </section>

</main>